body {
    background-color: white;
    color: rgb(41, 25, 38);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    display: block;
    width: 300px;
    min-height: 60px;
    border: none;
    margin: 20px auto;
    padding: 20px;
    font-size: 24pt;
}

.button {
    display: flex;
    width: 300px;
    min-height: 60px;
    margin: 20px auto;
    padding: 20px;
    font-size: 24pt;
}

.button > span {
    margin: auto auto;
}

.disconnected {
    background-color: rgb(255, 213, 64);
}

.connected {
    background-color: rgb(42, 110, 255);
}

.connecting .disconnecting {
    background-color: rgb(254, 255, 212);
}

.loading {
    background-color: rgb(109, 109, 109);
}